.git
.github
.nyc_output
.vscode
coverage
node_modules
samples
test

.codeclimate.yml
.deepsource.toml
.eslintignore
.gitignore
.npmignore
.prettierignore

eslint.config.*
prettier.config.*
tsconfig.json
